body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(235, 138, 11) 27%, rgb(90, 47, 7) 100%);
  font-family:'Courier New';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Tilt{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(235, 138, 11) 27%, rgb(90, 47, 7) 100%);
}

.center{
  display: flex;
  justify-content: center;
}

.form{
  width: 700px;
}

.button {
  cursor: pointer;
}

.particles{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  z-index: -1;
}